{
    "presets" : [
        ["env",//which environment we want it to work in 
        {
            "targets" : {
                "browsers" : [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }
    ]
    ]
}